/* Tiempos Headline */
@font-face {
  font-family: 'Tiempos Headline';
  src: url('/fonts/tiempos-headline-web-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Tiempos Text - Regular */
@font-face {
  font-family: 'Tiempos Text';
  src: url('/fonts/tiempos-text-web-regular.woff2') format('woff2'),
       url('/fonts/tiempos-text-web-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Tiempos Text - Regular Italic */
@font-face {
  font-family: 'Tiempos Text';
  src: url('/fonts/tiempos-text-web-regular-italic.woff2') format('woff2'),
       url('/fonts/tiempos-text-web-regular-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Tiempos Text - Semibold */
@font-face {
  font-family: 'Tiempos Text';
  src: url('/fonts/tiempos-text-web-semibold.woff2') format('woff2'),
       url('/fonts/tiempos-text-web-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Tiempos Text - Semibold Italic */
@font-face {
  font-family: 'Tiempos Text';
  src: url('/fonts/tiempos-text-web-semibold-italic.woff2') format('woff2'),
       url('/fonts/tiempos-text-web-semibold-italic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
